*:not(textarea) {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

body {
  text-align: center;
}


h1 {
  font-family: 'Passion One', cursive;
  font-size: 4.5rem;
}

h4, h5 {
  font-family: Raleway, sans-serif;
}

h5 {
  font-size: .8em;
  padding: 0;
  margin-bottom: 15px;
  opacity: .6;
}

.subtitle {
  padding: 0px;
  opacity: .6;
}

a:visited, a:active, a:hover, a:link {
  text-decoration: none;
  color: inherit;
}

.titleColor {
  color: #117F77;
  text-shadow: 1px 1px 2px #ced0d0;
}

textarea {
  min-width: 400px;
  max-width: 400px;
  min-height: 150px;
  max-height: 25px;
  padding: 0.8em;
  font-size: 1.4em;
  margin-top: 1.5em;
  resize: none;
}

button {
  width: 400px;
  margin: 15px;
  padding: 1em;
  display: inline-block;
  background-color: #117F77;
  color: white;
  font-family: Raleway, cursive;
  border: none;
  text-decoration: none;
  font-size: 2em;
  outline: none;
  box-shadow: 2px 2px 4px black;
}

button:hover {
  background-color: #7f1119;
  box-shadow: 2px 2px 4px #7f7711;
  cursor: pointer;
}

#author {
  font-size: 1.5em;
  padding: .2em;
  margin-bottom: 15px;

}

a > .fa {
  padding: 1em;
  font-size: 2.5em;
  border: 2px solid #d6d6d6;
  margin: 10px 10px;
  color: black;
  background-color: white;
  opacity: .4;
}

.fa-twitter:hover {
  background-color: #00aced;
  color: white;
  border: 2px solid #00aced;
  opacity: .7;
}

.fa-tumblr-square:hover {
  background-color: #35465c;
  color: white;
  border: 2px solid #35465c;
  opacity: .7;
}

.buttonClick {
  border: 3px solid black;
  color: black;
}
